:root{
    box-sizing: border-box;
}

*,
::before,
::after{
    box-sizing:inherit;
}

a{
    text-decoration:none;
}

body{
    font:16px/24px Arial;
    background: #333;
}
h1{
    text-align: center;
    font-size: 5em;
    color:#fff;
}
